extends layout

block content
    h1.
        Current User
    ul
        each user, i in userlist
            p 
            b Username
            | : #{user.username}
            p 
            b Email
            | : #{user.email}
            p 
            b Gems
            | : #{user.gems}