extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                a(href="/singleuser?username=#{user.username}&email=#{user.email}")= user.username